

datos{
	display: table;
	border-spacing: 3px;
	border: red 4px solid;
	margin: 12px
}

titulo{
	font-size: 15px;
    	text-transform: uppercase;
    	text-decoration: underline;
    	letter-spacing: 3px;
    	color: blue;
}

dia, zona, maxima, media, minima {
	display: table-row;
	background-color: #E69DFB;
	color: blue;
	padding: 3 px;
	text-align: center;
}