* {
    font-family: 'JetBrains Mono', Courier, monospace;
}

agenda {
    background-color: steelblue;
}

contacto {
    background-color: paleturquoise;
    padding: 1rem 2rem;
    
    margin: 1rem;
    border-radius: .5rem;
    
    display: grid;
    box-shadow: 0px 5px 10px #3335;
}

contacto::before {
    content: "CONTACTO #" attr(id);
    text-decoration: underline solid 2px;
}

contacto {
    display: grid;
    margin-bottom: 2rem;
}

nombre::before {
    margin-left: 1rem;
    content: "Nombre: ";
}

tel_fijo::before {
    margin-left: 1rem;
    content: "Tel. fijo: ";
}

celular::before {
    margin-left: 1rem;
    content: "Celular: ";
}

direccion::before {
    margin-left: 1rem;
    content: "Dirección: ";
}

email::before {
    margin-left: 1rem;
    content: "Email: ";
}

contacto::before,
nombre::before, 
tel_fijo::before, 
celular::before, 
direccion::before, 
email::before {
    font-weight: 600;
}